# Return on Investment

Critical for any new business venture is to add value as quickly as possible. I have analyzed recent movie budgets compared to their domestic and global gross to help identify patterns.

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#import dataset
df = pd.read_csv('data/tn.movie_budgets.csv', index_col=0)

In [6]:
#Add columns to compute the difference between budget and gross for 
df['Domestic Profit'] = df['domestic_gross'] - df['production_budget']
df['Global ROI'] = df['worldwide_gross'] - df['production_budget']
df['release_date'] = pd.to_datetime(df['release_date'])
df['Year'] = df['release_date'].dt.year
df = df.loc[df['Year'] >= 2010]

In [35]:
df

,release_date,movie,production_budget,domestic_gross,worldwide_gross,US ROI,Global ROI,Year
id,,,,,,,,
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,-169536125.0,6.350639e+08,2011
3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-307237650.0,-2.002376e+08,2019
4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,128405868.0,1.072414e+09,2015
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,303181382.0,9.997217e+08,2017
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,630662225.0,1.747311e+09,2015
...,...,...,...,...,...,...,...,...
62,2014-12-31,Stories of Our Lives,15000.0,0.0,0.000000e+00,-15000.0,-1.500000e+04,2014
72,2015-05-19,Family Motocross,10000.0,0.0,0.000000e+00,-10000.0,-1.000000e+04,2015
73,2012-01-13,Newlyweds,9000.0,4584.0,4.584000e+03,-4416.0,-4.416000e+03,2012
78,2018-12-31,Red 11,7000.0,0.0,0.000000e+00,-7000.0,-7.000000e+03,2018
81,2015-09-29,A Plague So Pleasant,1400.0,0.0,0.000000e+00,-1400.0,-1.400000e+03,2015

In [ ]:
us_roi = df.sort_values(by=['US ROI'], ascending=False)
global_roi = df.sort_values(by=['Global ROI'], ascending=False)